body {
    padding: 0;
    margin: 0;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}

html, body, #map {
    height: 100%;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 15%;
 }
 .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    z-index: 1000;
  }
  
  .flex-container > div {
    background-color: #31859C;
    width: 40%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .overlay {
    height: 500px;
    width: 100px;
    margin-left: -100px;
    position: relative;
    float: right;
    z-index: 2;
    background-color: rgba(255, 50, 50, 0.5);
    pointer-events: auto;
  }
  .l-center {
    top: 15%;
    z-index: 1000;
    position: inherit;
    right: 10px;
    float: right;
    background: #efeeedc7;
    padding: 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    border: 2px solid #ffffff;
    width: 350px;
}
.blk-grp{
  background: #fff;
  text-align: center;
  padding: 7px 30px;
  width: 200px;
  margin: 10px 63px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  box-shadow: 4px 4px 6px -4px rgba(138,135,138,1);
  /* white-space: nowrap; */
  overflow: hidden;
}
.l-center > p{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.info-footer{
  background: #ffffffa3;
  padding: 10px;
  margin: 0 -10px -10px;
  position: relative;
  font-style: italic;
  color: #9e9d9a;
}
  /* .button-action{
    height: 40px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: url('https://i.hizliresim.com/QpVGbg.png') no-repeat;
    font-family: Minecraft;
    line-height: 26px;
    padding-top: 6px;
}

.button-action:hover{
    background: url('https://i.hizliresim.com/a1zraR.png') no-repeat;
} */

/* .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
} */
/* .close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
} */
.close{
  cursor: pointer;
  float: left;
  font-size: 1.2rem;
  color: #000000;
  transform: translate(0%, -50%);
  margin: 10px;
}
.block-info-header{
  white-space: pre-wrap;
  font-size: smaller;
  text-align: justify;
  padding: 0 30px; 
}
.rank-info, .indicator-info{
  margin-bottom: -0.5rem;
}
/* dl.multiple-table { border-bottom: 1px solid #999; } */

dl.multiple-table dt {
	clear: left;
	float: left;
	width: 120px;
	margin: 0;
  padding: 5px;
  
	/* border-top: 1px solid #999; */
	font-weight: bold;
}
.hr-line{
  border-bottom: 1px solid #EACEAC;
  width: 85%;
  margin: 0 0 10px 20px;
}
/* dl.multiple-table dd {
   padding: 5px;
  border-bottom: 2px solid #EACEAC;
  width: 85%;
  margin: 0 0 0 20px; 
} */

dl.multiple-table dd.first { border-top: 1px solid #999; }

.imageHolder {
  position: relative;
  text-align: initial;
  padding: 10px 0;
}
.imageHolder .caption {
  position: absolute;
  width: 70px;
  height: 175px;
  top: 0px;
  right: 0px;
  color: #ffffff;
  background: green;
  text-align:center;
  font-weight:bold;
  opacity:0.7;
}
.imageHolder img{
  width: 100px;
  margin-left: 20px;  
}
/* 
#sidebar {
  background: #ffffffcf;
  text-align: center;
  width: 340px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  box-shadow: 4px 4px 6px -4px rgba(138,135,138,1);
  white-space: nowrap;
  transition: all 0.3s;
  position: absolute;
  z-index: 1000;
  top: 12%;
  left: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  max-height: 50%;
}

#sidebar.active {
  margin-left: -345px;
}
#sidebar.close {
  display: none;
}
#sidebar .sidebar-header {
  padding: 10px 5px;
  font-weight: bold;
  line-height: 15px;
  text-align: left; 
} */
.auto-search{
  text-align: left;
  white-space: normal;
}
.details {
  background: #ffffffcf;
  text-align: center;
  width: 340px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  white-space: nowrap;
  min-width: 250px;
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  max-height: 400px;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

#container { 
  margin-left: 70px; 
}
#poverty, #poverty-new{
  margin-left: 15px;
}
#white, #white-new{
  margin-left: 15px;
}
.line-bar{
  position: absolute;
  z-index: 10000;
  background: #0a0a0a;
  height: 55px;
  width: 2px;
  margin-top: -5px;
  transition: all 1s 10ms;
  /* display: none; */
}
.logo {
  height: 24px;
  width: 100px;
}
.indicator-header{
  background-color: #2FA5A9;
}
.borderless td, .borderless th {
  border: none;
  text-align: left;
  padding: 0.25rem;
}

.btn-indicator{
  width: 85%;
  color: #fff;
  background-color: #A6A6A6;
  border-color: #A6A6A6;
  white-space: normal;
  font-size: 14px;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.btn-indicator:hover{
  width: 85%;
  color: #fff;
  background-color: #A6A6A6;
  border-color: #A6A6A6;
  white-space: normal;
  font-size: 14px;
  cursor: default; 
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}
.btn-indicator-rnk{
  width: 100px;
  color: #fff;
  background-color: #A6A6A6;
  border-color: #A6A6A6;
  white-space: normal;
  font-size: 14px;
}
.btn-indicator-rnk:hover{
  width: 100px;
  color: #fff;
  background-color: #A6A6A6;
  border-color: #A6A6A6;
  white-space: normal;
  font-size: 14px;
}
.btn-ico{
  color: #fff;
  background-color: #E1B355;
  border-color: #E1B355;
  width: 40px;
  font-size: 14px;
  padding: 5px 0;
}
.btn-ico:hover{
  color: #fff;
  background-color:  rgb(245, 156, 47);
  border-color: rgb(245, 156, 47);
  width: 40px;
  font-size: 14px;
  padding: 5px 0;
}
.btn-upload{
  color: #fff;
  background-color: #E1B355;
  border-color: #E1B355;
  width: 100%;
}
.btn-upload:hover{
  color: #fff;
  background-color:  rgb(245, 156, 47);
  border-color: rgb(245, 156, 47);
  width: 100%;
}
.btn-upload:focus{
  outline: none;
}
.btn-indicator-list{
  /* width: 100px; */
  color: #fff;
  background-color: #2EA5AA;
  border-color: #2EA5AA;
  border-radius: 0;
}
.btn-indicator-list:hover{
  /* width: 100px; */
  color: #fff;
  background-color: rgb(52, 137, 139);
  border-color: rgb(52, 137, 139);
  border-radius: 0;
}
.card-header {
  padding: 0px;
}
.rank-header-list, .indicator-header-list{
  font-size: 1.5rem;
  color: #111315;
}
.dropdown-menu::-webkit-scrollbar { width: 0 !important }
#demo-btn, .rank-btn {
  position: absolute;
  left: 4px;
  padding: 1px 6px;
  margin: 10px;
}
#demo-btn{
  /* background: rgba(55, 172, 204, 0.84); */
  background-color: #2EA5AA;
  color: white;
  padding: 2px 8px;
  position: absolute;
  top: 0;
}
#demo-btn:focus{
  outline: none;
}
.rank-btn-back { 
  font: inherit;
  float: left; 
  margin: 3px;
  background-color: #2EA5AA;
  color: white;
  padding: 2px 8px;
  top: 0;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 16px;
}
.rank-btn-back:hover{
  float: left; 
  margin: 3px;
  border-color: #2EA5AA;
  color: white;
  padding: 2px 8px;
  top: 0;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 16px;
}
.indicator-questions{
  font-size: medium;
  text-align: justify;
  padding: 0 20px;
  font-weight: bolder;
  margin-bottom: 5px;
  /* color: rgb(79,98, 40); */
}
.help-txt{
  margin-top: -0.25rem;
}
.indicator-answers{
  font-size: smaller;
  text-align: justify;
  padding: 0 20px;
  /* font-weight: bolder; */
  margin-bottom: 15px;
  color: rgb(23, 24, 22);
  white-space: normal;
}
/* .selectize-dropdown, .selectize-dropdown.form-control{
  height: 90vh !important;
}

.selectize-dropdown-content{
  max-height: 100% !important;
  height: 100% !important;
} */
.selectize-control.multi .selectize-input [data-value]{
  background-color: #a6a6a6 !important;
  background-image: none !important;
  border: 1px solid #a6a6a6 !important;
}
/* .table th, .table td {
  border-top: none;
} */

/* .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: #f5f2f2;
  background-color: #A6A6A6;
  padding: 5px 30%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
} */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
#data-upload-panel{
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 1800ms, visibility 600ms;
}
#data-repo{
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
#data-upload-panel > p{
  white-space: normal;
  text-align: justify;
  /* font-size: 12px; */
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}
.list-upload-data{
  text-align: justify;
  list-style-type: initial;
  white-space: normal;
  text-align: justify;
}
.repo-content {
  background: #ffffffcf;
  text-align: center;
  width: 450px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  white-space: nowrap;
  min-width: 250px;
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  max-height: 550px;
  margin-top: -180px !important;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.card{
  background: rgba(255, 255, 255, 0.1);
}

#cover {
  background: url(/js/images/loader.gif) no-repeat scroll center center rgba(183, 183, 183, 0.78);
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: rgba(223, 226, 224, 0.88); */
  z-index: 100000;
}
p.blocktext {
  width: 6em;
  color: #983a3a;
  font-size: x-large;
  padding: 20% 0;
  margin: auto;
  font-weight: bolder;
}

.indicator-tabs {
  width: 100%;
  overflow: hidden;
 
  padding: 0;
  margin: 0
}
.indicator-tabs  dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */

  padding: 0;
  margin: 0
}
.indicator-tabs  dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */

  padding: 0;
  margin: 0
}