body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 15%;
 }
 .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    z-index: 1000;
  }
  
  .flex-container > div {
    background-color: #31859C;
    width: 40%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .overlay {
    height: 500px;
    width: 100px;
    margin-left: -100px;
    position: relative;
    float: right;
    z-index: 2;
    background-color: rgba(255, 50, 50, 0.5);
    pointer-events: auto;
  }
  .l-center {
    top: 15%;
    z-index: 1000;
    position: inherit;
    right: 10px;
    float: right;
    background: #efeeedc7;
    padding: 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    border: 2px solid #ffffff;
    width: 350px;
}
.blk-grp{
  background: #fff;
  text-align: center;
  padding: 7px 30px;
  width: 200px;
  margin: 10px 63px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  box-shadow: 4px 4px 6px -4px rgba(138,135,138,1);
  /* white-space: nowrap; */
  overflow: hidden;
}
.l-center > p{
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  text-align: right;
}
.info-footer{
  background: #ffffffa3;
  padding: 10px;
  margin: 0 -10px -10px;
  position: relative;
  font-style: italic;
  color: #9e9d9a;
}
  /* .button-action{
    height: 40px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: white;
    background: url('https://i.hizliresim.com/QpVGbg.png') no-repeat;
    font-family: Minecraft;
    line-height: 26px;
    padding-top: 6px;
}

.button-action:hover{
    background: url('https://i.hizliresim.com/a1zraR.png') no-repeat;
} */

/* .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
} */
/* .close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
} */
.close{
  cursor: pointer;

  transform: translate(0%, -50%);
  margin-top: 10px;
}
.block-info-header{
  white-space: pre-wrap;
  font-size: smaller;
  text-align: justify;
  padding: 0 30px;
}
/* dl.multiple-table { border-bottom: 1px solid #999; } */

dl.multiple-table dt {
	clear: left;
	float: left;
	width: 120px;
	margin: 0;
  padding: 5px;
  
	/* border-top: 1px solid #999; */
	font-weight: bold;
}
.hr-line{
  border-bottom: 1px solid #EACEAC;
  width: 85%;
  margin: 0 0 10px 20px;
}
dl.multiple-table dd {
  /* padding: 5px;
  border-bottom: 2px solid #EACEAC;
  width: 85%;
  margin: 0 0 0 20px; */
}

dl.multiple-table dd.first { border-top: 1px solid #999; }

.imageHolder {
  position: relative;
  text-align: initial;
  padding: 10px 0;
}
.imageHolder .caption {
  position: absolute;
  width: 70px;
  height: 175px;
  top: 0px;
  right: 0px;
  color: #ffffff;
  background: green;
  text-align:center;
  font-weight:bold;
  opacity:0.7;
}
.imageHolder img{
  width: 100px;
  margin-left: 20px;  
}
/* 
#sidebar {
  background: #ffffffcf;
  text-align: center;
  width: 340px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  box-shadow: 4px 4px 6px -4px rgba(138,135,138,1);
  white-space: nowrap;
  transition: all 0.3s;
  position: absolute;
  z-index: 1000;
  top: 12%;
  left: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  max-height: 50%;
}

#sidebar.active {
  margin-left: -345px;
}
#sidebar.close {
  display: none;
}
#sidebar .sidebar-header {
  padding: 10px 5px;
  font-weight: bold;
  line-height: 15px;
  text-align: left; 
} */

.dropdown-menu.show {
  background: #ffffffcf;
  text-align: center;
  width: 340px;
  font-size: 15px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  -moz-box-shadow: 10px 10px 5px -8px rgba(138,135,138,1);
  white-space: nowrap;
  min-width: 250px;
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid #ffffff;
  overflow-y: scroll;
  max-height: 400px;
}
/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}

#container { 
  margin-left: 70px; 
}
#poverty, #poverty-new{
  margin-left: 15px;
}
#white, #white-new{
  margin-left: 15px;
}
.line-bar{
  position: absolute;
  z-index: 10000;
  background: #0a0a0a;
  height: 55px;
  width: 2px;
  margin-top: -5px;
  transition: all 1s 10ms;
  /* display: none; */
}
.logo {
  height: 24px;
  width: 100px;
}
/* #leftThing {
  width: 40px;
  background-color: blue;
}
#content {
  width: 40px;
  background-color: green;
}
#rightThing {
  width: 40px;
  background-color: yellow;
} */